/* Poppins - Main Tekst */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Paytone One - Main header h1  */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* ===== BASE SITE CSS START ===== */
:root {
  --white-: #fff;
  --darkBlue-: #002849;
  --green-: #009660;
  --orange-: #e87b17;
  --red-: #c62f26;
  --lightBlue: #2487a0;
  --lightGrey-: #989898;
  --header: #1f3b5c;
  --btnBackground: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* 0.625rem = 10px */
html {
  font-size: 0.625rem;

  scroll-behavior: smooth;
}

/* 1.6rem = 16px */
body {
  background-color: var(--white);

  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
}
/* ===== BASE SITE CSS END ===== */

/* Global Background Colors */
.darkBlue {
  background-color: var(--darkBlue-);
}

.green {
  background-color: var(--green-);
}

.orange {
  background-color: var(--orange-);
}

.red {
  background-color: var(--red-);
}

.lightBlue {
  background-color: var(--lightBlue);
}

/* Header */
.main_header {
  height: 60vh;
  background: var(--darkBlue-);
}

/* Navigations menu */
nav {
  position: fixed;
  top: 0;
  z-index: 200;

  width: 100%;
  padding: 30px 30px;
  background-color: var(--darkBlue-);
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1900px;
  height: 100%;
  margin: 0 auto;
}

/* Nav Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  cursor: pointer;
}

.logo a {
  display: flex;

  font-weight: 500;
  text-decoration: none;
  color: var(--white-);

  letter-spacing: 0.5px;
}

/* Burgermenu */
.burgermenu_container {
  display: none;

  width: 100%;
}

.burgermenu_container.active {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.list_styles li {
  list-style: none;
}

.list_styles li a {
  display: block;

  max-width: 500px;
  margin: 30px 0;
  padding: 20px 80px;
  border-radius: 8px;

  text-align: center;
  text-decoration: none;
  color: #fff;
}

.list_styles li a:hover {
  opacity: 0.85;
}

/* Home icon */
.home_icon {
  cursor: pointer;
}

.home_icon > img {
  display: flex;
  align-items: center;

  width: 30px;
}

/* Burgermenu icon */
.burgermenu_icon {
  display: block;

  z-index: 200;

  cursor: pointer;
}

.bar {
  display: block;

  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 8px;
  background-color: var(--white-);

  transition: all 0.3s ease-in-out;

  -webkit-transition: all 0.3s ease-in-out;
}

.burgermenu_icon.active .bar:nth-child(2) {
  opacity: 0;
}

.burgermenu_icon.active .bar:nth-child(1) {
  background-color: #fff;

  transform: translateY(8px) rotate(45deg);
}

.burgermenu_icon.active .bar:nth-child(3) {
  background-color: #fff;

  transform: translateY(-8px) rotate(-45deg);
}

/* Hero search section */
.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 850px;
  height: 100%;
  margin: 0 auto;
}

.hero_container h1 {
  z-index: 1;

  font-family: 'Paytone One', sans-serif;
  font-size: clamp(5rem, 6vw, 8rem);
  font-weight: 800;
  color: var(--white-);

  letter-spacing: 2px;
}

.hero_container h2 {
  margin-top: 1vh;
  padding: 0px 50px;

  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 400;
  text-align: center;
  color: var(--white-);

  letter-spacing: 1px;
}

/* Search bar */
.search_input {
  display: grid;

  position: relative;
  z-index: 1;

  width: 86%;
  max-width: 850px;
  margin-top: 3vh;
}

.autocom_box {
  display: grid;

  position: absolute;
  top: 49px;

  width: 100%;
  border: solid var(--darkBlue-) 0.5px;
  border-radius: 0px 0px 8px 8px;

  font-weight: 600;
  color: rgb(59, 59, 59);
}

.search_input input {
  z-index: 1;

  height: 50px;
  padding-left: 65px;
  padding-right: 20px;
  border: var(--darkBlue-) solid 0.5px;
  border-radius: 8px;

  font-family: 'poppins' sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.search_input input:active {
  border-color: #fff;
}

.search_input input:focus {
  outline: none;
}

.search_input.active input {
  border-radius: 8px 8px 0px 0px;
}

input::placeholder {
  font-family: 'poppins' sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--lightGrey-);

  letter-spacing: 0.4px;
}

.search_icon {
  display: flex;

  position: absolute;
  left: 20px;
  top: 11px;
  z-index: 10;

  cursor: pointer;
}

/* Autocom-box / search bar suggestions */
.search_input.active .autocom_box {
  background-color: #fff;

  opacity: 1;

  pointer-events: auto;
}

.autocom_box li {
  display: none;

  width: 100%;
  padding: 15px;

  list-style: none;
  cursor: default;
}

.search_input.active .autocom_box li {
  display: block;
}

.search_input li:hover {
  border-radius: 8px;
  background: #efefef;

  font-weight: 600;
}

.autocom_box i {
  font-size: 8px;

  opacity: 0;
}

/* Fliter section */
.filter_container {
  width: 100%;
  margin: 0px auto 50px;
  background-color: var(--btnBackground);

  box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.1);
}

/* Filter btns */
.filter_btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 60px);

  max-width: 1366px;
  margin: 0 auto;
  padding: 50px 0;

  gap: 15px;
}

.filter_btns > a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  color: #fff;

  transition: 170ms ease;

  user-select: none;
  cursor: pointer;
  gap: 8px;
  letter-spacing: 0.5px;
}

.filter_btns > a:hover {
  transform: scale(1.05);
}

.filter_btns > a:active {
  transform: scale(0.95);
}

.filter_btns a img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_icon_width {
  width: clamp(22px, 2vw, 30px);
}

.filter_icon_width_2 {
  width: 17px;
  width: clamp(18px, 2vw, 26px);
}

.grid_span_2 {
  grid-column: span 2;
}

/* recipe section grid */
.recipe_grid_container {
  margin-bottom: 80px;
}

.recipe_box {
  display: grid;
  grid-template-columns: 1fr;

  top: 0;

  width: 100%;
  margin: 0 auto;

  gap: 30px;
}

.all {
  display: flex;
  flex-direction: column;

  height: 100%;

  transition: 170ms ease;
}

.all a {
  text-decoration: none;
}

.all:hover {
  border-radius: 8px;

  transform: scale(1.02);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.recipe_img {
  position: relative;

  width: 100%;
  height: 100%;
  height: max-content;
}

.recipe_img > img {
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;

  object-fit: cover;
}

.category_name {
  position: absolute;
  left: 20px;
  top: 20px;
}

.recipe_content {
  height: max-content;
  height: 100%;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--header);
}

.recipe_content > h2 {
  padding: 0px 15px 5px 15px;

  font-size: 2rem;
  color: #fff;
}

.recipe_content > p {
  padding: 5px 15px 20px 15px;

  font-size: 1.3rem;
  color: #fff;
}

.recipe_content i {
  font-size: 1.3rem;
  font-style: normal;
  color: #fff;
}

.recipe_content_top {
  display: flex;
  flex-direction: row;

  padding: 15px 15px;

  gap: 20px;
}

.recipe_content_top > span i {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  gap: 5px;
  letter-spacing: 0.5px;
}
