@media screen and (max-width: 1417px) {
  /* Filter section */
  .filter_container {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 1100px) {
  /* Filter section */
  header {
    height: 50vh;
  }
  .filter_btns {
    grid-template: 70px / 1fr 2fr 2fr 2fr 2fr;
  }

  .filter_btns > a:nth-child(1) {
    grid-column: span 1;
  }
}
