/*  index.html */
@media screen and (max-width: 1417px) {
  /* Filter section */
  .filter_container {
    padding: 0px 30px;
  }
}

/*  index.html */
@media screen and (min-width: 1100px) {
  /* Filter section */
  .main_header {
    height: 50vh;
  }

  .hero_container {
    padding-top: 60px;
  }

  .filter_btns {
    grid-template: 70px / 1fr 2fr 2fr 2fr 2fr;
  }

  .filter_btns > a:nth-child(1) {
    grid-column: span 1;
  }
}

/*  recipePage.html */
@media screen and (min-width: 1100px) {
  .grid_recipe_container {
    display: grid;
    place-content: center;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    width: 100%;
  }

  .recipe_ingredients_box,
  .recipe_howTo_box {
    height: 50vh;
  }

  .recipe_mainText_box {
    height: fit-content;
    padding: 90px 100px;
    order: 1;
  }

  .recipe_img_box {
    order: 2;
  }
}
