/*  index.html */
@media screen and (max-width: 1417px) {
  /* Filter section */
  .filter_container {
    padding: 0px 30px;
  }
}

/*  index.html */
@media screen and (min-width: 1100px) {
  /* Filter section */
  .main_header {
    height: 50vh;
  }

  .hero_container {
    padding-top: 60px;
  }

  .filter_btns {
    grid-template: 70px / 1fr 2fr 2fr 2fr 2fr;
  }

  .filter_btns > a:nth-child(1) {
    grid-column: span 1;
  }
}

/*  recipePage.html */
@media screen and (min-width: 1140px) {
  .grid_recipe_container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    place-content: center;
  }

  .recipe_img_box {
    height: 100%;
  }

  .recipe_mainText_box {
    margin-bottom: 0px;
    height: fit-content;
    order: 1;
  }

  .howTo_list h2 {
    margin-top: 0;
  }

  .recipe_img_box {
    order: 2;
  }
}

@media screen and (min-width: 550px) {
  .recipe_mainText_box,
  .recipe_ingredients_box,
  .recipe_howTo_box {
    padding: 100px 90px;
  }

  /* Navigations menu */
  nav {
    padding: 30px 40px;
  }
}
