/* Poppins - Main Tekst */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Paytone One - Main header h1  */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* ===== BASE SITE CSS START ===== */
:root {
  --white-: #fff;
  --darkBlue-: #003049; /* Primary color */

  --green-: #009660; /* Primary color */

  --orange-: #e87b17; /* Primary color */

  --red-: #c62f26; /* Primary color */

  --lightBlue: #308f95; /* Primary color */

  --lightGrey-: #989898;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* 0.625rem = 10px */
html {
  font-size: 0.625rem;
}

/* 1.6rem = 16px */
body {
  background-color: var(--white);

  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
}
/* ===== BASE SITE CSS END ===== */

/* Global Background Colors */
.darkBlue {
  background-color: var(--darkBlue-);
}

.green {
  background-color: var(--green-);
}

.orange {
  background-color: var(--orange-);
}

.red {
  background-color: var(--red-);
}

.lightBlue {
  background-color: var(--lightBlue);
}

/* Header */
.recipe_header {
  height: 92px;
}

/* Hero section */
.grid_recipe_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content repeat(3, auto);

  place-content: center;
}

.recipe_mainText_box {
  display: grid;

  position: relative;

  padding: 50px 30px;

  place-content: center;
  order: 2;
}

.recipe_mainText_box h1 {
  max-width: 500px;

  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 800;

  letter-spacing: 1px;
}

.mainText_info_boxes {
  display: flex;
  align-items: flex-start;

  margin-top: 50px;

  gap: 40px;
}

.mainText_info_boxes p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 600;

  letter-spacing: 0.5px;
  gap: 8px;
}

.mainText_info_boxes p img {
  padding-bottom: 1px;
}

.recipe_mainText_box span {
  max-width: 500px;
  margin-top: 20px;

  font-size: clamp(14px, 2rem, 15px);

  letter-spacing: 0.3px;
  line-height: 25px;
}

/* Big img container */
.recipe_img_box {
  background-image: url(/assets/tomatsuppe-med-peberfrugt-og-sprod-gremolata.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;

  order: 1;
}

/* ingredients container */
.recipe_ingredients_box {
  display: grid;

  position: relative;

  padding: 50px 30px;
  place-content: center;
  background-color: #003049;

  order: 3;
}

.ingredients_list {
  text-align: left;
  max-width: 500px;
  margin: 0;
}

.ingredients_list h2 {
  margin: 30px 0;
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
}

.recipe_howTo_box {
  display: grid;

  position: relative;

  padding: 50px 30px;

  place-content: center;
  order: 4;
}

/* ingredients container list  */
.ingredients_list ul {
  list-style: none;
}

.ingredients_list ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;

  color: #fff;
  border-bottom: 2px solid #fff;
}
